<!DOCTYPE html>
<html>
    <head>
        <title>Best Bet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="header">
            <div class="left">
                <h1>Best Bet</h1>
            </div>
            <div class="right">
                <a id="links" href="/inputs">Inputs</a>
                <a id="links" href="https://github.com/luizgbraga/best-bet">GitHub</a>
                <a id="links" href="/about">Sobre nós</a>
                <a id="links" href="/train">Treinar a rede</a>
            </div>
        </div>
        <div id="content">
            <div id="container">
                <h1>Sobre Nós</h1>
                <h2>Luiz Guilherme Amadi Braga</h2>
                <p>Estudante de Engenharia de Computação no Instituto Militar de Engenharia, desenvolvedor da Abstra e ex-membro da equipe de Desenvolvimento de Apps do IMEJúnior</p>
                <h2>Diogo Laurindo Souza de Araújo</h2>
                <p>Estudante de Engenharia de Computação no Instituto Militar de Engenharia, estagiário na INOA e ex-membro da equipe de Desenvolvimento de Apps do IMEJúnior</p>
                <h2>Alexandre de Paiva Almeida</h2>
                <p>Estudante de Engenharia de Computação no Instituto Militar de Engenharia, estagiário na TutorMundi, presidente e ex-membro da equipe de Desenvolvimento de Apps do IMEJúnior</p>
                <a class="button" href="/inputs">Voltar</a>
            </div>
        </div>
    </body>
</html>
