<!DOCTYPE html>
<html>
    <head>
        <title>Best Bet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="header">
            <div class="left">
                <h1>Best Bet</h1>
            </div>
            <div class="right">
                <a id="links" href="/inputs">Inputs</a>
                <a id="links" href="https://github.com/luizgbraga/best-bet">GitHub</a>
                <a id="links" href="/train">Treinar a rede</a>
            </div>
        </div>
        <div id="content">
            <div id="container">
                <h1>Entradas</h1>
                <form  action="{{ url_for('inputs') }}" method="POST" enctype="multipart/form-data">
                    <label for="home-team">Time da casa</label>
                    <select name="home-team">
                        {% for team in home_teams %}
                            <option value="{{ team }}">{{ team }}</option>
                        {% endfor %}
                    </select>
                    <label for="visit-team">Time visitante</label>
                    <select name="visit-team">
                        {% for team in visit_teams %}
                            <option value="{{ team }}">{{ team }}</option>
                        {% endfor %}
                    </select>
                    <label for="hour">Horário</label>
                    <select name="hour">
                        {% for hour in hours %}
                            <option value="{{ hour }}">{{ hour }}</option>
                        {% endfor %}
                    </select>
                    <label for="round">Rodada</label>
                    <select name="round">
                        {% for i in range(38) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Confirmar</button>
                </form>
            </div>
        </div>
    </body>
</html>
