<!DOCTYPE html>
<html>
    <head>
        <title>Best Bet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="header">
            <div class="left">
                <h1>Best Bet</h1>
            </div>
            <div class="right">
                <a id="links" href="/inputs">Inputs</a>
                <a id="links" href="https://github.com/luizgbraga/best-bet">GitHub</a>
                <a id="links" href="/about">Sobre nós</a>
                <a id="links" href="/train">Treinar a rede</a>
            </div>
        </div>
        <div id="content">
            <div id="container">
                <h1>Resultados</h1>
                <h3>Melhores apostas para você</h3>
                <ul>
                    {% for bet in bets %}
                        <li>{{ bet }}</li>
                    {% endfor %}
                </ul>
                <div class="button-box flex flex-row ">
                  <a class="button" href="/inputs">Voltar</a>
                  <a class="button" href="/outputs">Confirmar</a>
                </div>
            </div>
        </div>
    </body>
</html>
