<!DOCTYPE html>
<html>
    <head>
        <title>Best Bet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="header">
            <div class="left">
                <h1>Best Bet</h1>
            </div>
            <div class="right">
                <a id="links" href="/inputs">Inputs</a>
                <a id="links" href="https://github.com/luizgbraga/best-bet">GitHub</a>
                <a id="links" href="/about">Sobre nós</a>
                <a id="links" href="/train">Treinar a rede</a>
            </div>
        </div>
        <div id="content">
            <div id="container">
                <h1>Treinar a rede</h1>
                <p>A escolha das apostas pode ser melhorada ao treinar a rede</p>
                <form  action="{{ url_for('train') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit">Treinar</button>
                </form>
            </div>
        </div>
    </body>
</html>
